@model List<StudentSystem.Models.Student>

<h2>All Students</h2>

@foreach (var item in Model)
{
    <p>
        @item.Name
        <a href="/Student/ShowDetails?id=@item.Id">Details</a>
        <a href="/Student/Edit/@item.Id">Edit</a>
        <a href="/Student/Delete/@item.Id">Delete</a>
    </p>
}